In [1]:
import pandas as pd
import numpy as np
import numpy.random as nprd
import matplotlib.pyplot as plt
import gc
import pickle
from itertools import product
import os
import re
from sklearn.preprocessing import LabelEncoder
from collections import Counter
from operator import itemgetter

df_items = pd.read_csv("./data/items.csv")
df_category = pd.read_csv("./data/item_categories.csv")
df_sales_train = pd.read_csv("./data/sales_train.csv")
df_test = pd.read_csv("./data/test.csv")
df_shops = pd.read_csv("./data/shops.csv")

In [2]:
pd.crosstab(df_sales_train['item_id'].astype('category'), columns="count").sort_values(by = "count", ascending=False).T

item_id,20949,5822,17717,2808,4181,7856,3732,2308,4870,3734,...,10695,10696,10698,10705,10745,10752,10753,10799,10835,22169
col_0,,,,,,,,,,,,,,,,,,,,,
count,31340,9408,9067,7479,6853,6602,6475,6320,5811,5805,...,1,1,1,1,1,1,1,1,1,1

In [3]:
test_shop_ids = df_test['shop_id'].unique()
test_item_ids = df_test['item_id'].unique()
# Only shops that exist in test set.
df_sales_train = df_sales_train[df_sales_train['shop_id'].isin(test_shop_ids)]
# Only items that exist in test set.
df_sales_train = df_sales_train[df_sales_train['item_id'].isin(test_item_ids)]
len(df_sales_train)

1224439

In [4]:
df_test['date_block_num'] = 34

df_sales_train['date_block_num'] = df_sales_train['date_block_num'].astype(np.int8)
df_sales_train['shop_id'] = df_sales_train['shop_id'].astype(np.int8)
df_sales_train['item_id'] = df_sales_train['item_id'].astype(np.int16)
df_sales_train.sort_values(['date_block_num', 'shop_id', 'item_id'],inplace=True)

In [5]:
#Remove some extreme values
df_sales_train = df_sales_train.loc[df_sales_train['item_price'] < 1e5]
df_sales_train = df_sales_train.loc[df_sales_train['item_cnt_day'] < 1e3]
df_sales_train.loc[df_sales_train['item_cnt_day'] < 0] = 0

In [6]:
#####Referenced Kaggle Notebooks
# Якутск Орджоникидзе, 56
df_sales_train.loc[df_sales_train.shop_id == 0, 'shop_id'] = 57
df_test.loc[df_test.shop_id == 0, 'shop_id'] = 57
# Якутск ТЦ "Центральный"
df_sales_train.loc[df_sales_train.shop_id == 1, 'shop_id'] = 58
df_test.loc[df_test.shop_id == 1, 'shop_id'] = 58
# Жуковский ул. Чкалова 39м²
df_sales_train.loc[df_sales_train.shop_id == 10, 'shop_id'] = 11
df_test.loc[df_test.shop_id == 10, 'shop_id'] = 11
# РостовНаДону ТРК "Мегацентр Горизонт" Островной
df_sales_train.loc[df_sales_train.shop_id == 40, "shop_id"] = 39
df_test.loc[df_test.shop_id == 40, "shop_id"] = 39

In [7]:
#####Referenced Kaggle Notebooks
df_shops.loc[df_shops.shop_name == 'Сергиев Посад ТЦ "7Я"',"shop_name" ] = 'СергиевПосад ТЦ "7Я"'
df_shops["city"] = df_shops.shop_name.str.split(" ").map(lambda x: x[0] )
df_shops["category"] = df_shops.shop_name.str.split(" ").map(lambda x: x[1] )
df_shops.loc[df_shops.city == "!Якутск", "city"] = "Якутск"

category = []
for cat in df_shops.category.unique():
    if len(df_shops[df_shops.category == cat]) > 4:
        category.append(cat)
        
df_shops.category = df_shops.category.apply(lambda x: x if (x in category) else "etc" )
    
df_shops["shop_category"] = LabelEncoder().fit_transform( df_shops.category )
df_shops["shop_city"] = LabelEncoder().fit_transform( df_shops.city )

df_shops = df_shops[["shop_id", "shop_category", "shop_city"]]
   
df_category["type_code"] = df_category.item_category_name.apply( lambda x: x.split(" ")[0]).astype(str)
df_category.loc[ (df_category.type_code == "Игровые")| (df_category.type_code == "Аксессуары"), "category" ] = "Игры"
        
df_category["type_code"] = df_category.type_code.apply(lambda x: x if (x in category) else "etc")

df_category["type_code"] = LabelEncoder().fit_transform(df_category.type_code)
df_category["split"] = df_category.item_category_name.apply(lambda x: x.split("-"))
df_category["subtype"] = df_category.split.apply(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())
df_category["subtype_code"] = LabelEncoder().fit_transform( df_category["subtype"] )
df_category = df_category[["item_category_id", "subtype_code", "type_code"]]

In [8]:
#####Referenced Kaggle Notebooks
df_items[['name_1', 'name_2']] = df_items['item_name'].str.split('[', 1, expand=True)
df_items[['name_1', 'name_3']] = df_items['item_name'].str.split('(', 1, expand=True)

df_items['name_2'] = df_items['name_2'].str.replace('[^A-Za-z0-9А-Яа-я]+', ' ').str.lower()
df_items['name_3'] = df_items['name_3'].str.replace('[^A-Za-z0-9А-Яа-я]+', ' ').str.lower()
df_items = df_items.fillna('0')

res_1 = Counter(' '.join(df_items['name_2'].values.tolist()).split(' ')).items()
res_1 = sorted(res_1, key=itemgetter(1))
res_1 = pd.DataFrame(res_1, columns=['feature', 'count'])
res_1 = res_1[(res_1['feature'].str.len() > 1) & (res_1['count'] > 200)]

res_2 = Counter(' '.join(df_items['name_3'].values.tolist()).split(" ")).items()
res_2 = sorted(res_2, key=itemgetter(1))
res_2 = pd.DataFrame(res_2, columns=['feature', 'count'])
res_2 = res_2[(res_2['feature'].str.len() > 1) & (res_2['count'] > 200)]

res = pd.concat([res_1, res_2])
res = res.drop_duplicates(subset=['feature']).reset_index(drop=True)

def name_correction(x):
    x = x.lower()
    x = x.partition('[')[0]
    x = x.partition('(')[0]
    x = re.sub('[^A-Za-z0-9А-Яа-я]+', ' ', x)
    x = x.replace('  ', ' ')
    x = x.strip()
    return x

df_items['item_name'] = df_items['item_name'].apply(lambda x: name_correction(x))
df_items['name_2'] = df_items.name_2.apply(lambda x: x[:-1] if x != '0' else '0')

df_items['type'] = df_items.name_2.apply(lambda x: x[0:8] if x.split(' ')[0] == 'xbox' else x.split(' ')[0])
df_items.loc[(df_items.type == 'x360') | (df_items.type == 'xbox360'), 'type'] = 'xbox 360'
df_items.loc[df_items.type == '', 'type'] = 'mac'

df_items['type'] = df_items.type.apply(lambda x: x.replace(' ',''))
df_items.loc[(df_items.type == 'pc') | (df_items.type == 'pс') | (df_items.type == 'рс'), 'type'] = 'pc'
df_items.loc[(df_items.type == 'рs3'), 'type'] = 'ps3'

group_sum = df_items.groupby('type').sum()
group_sum.loc[group_sum.item_category_id < 200]

drop_list = ['5c5', '5c7', '5f4', '6dv', '6jv', '6l6', 'android', 'hm3', 'j72', 'kf6', 'kf7','kg4',
            'ps2', 's3v', 's4v', 'англ', 'русская', 'только', 'цифро']

df_items['name_2'] = df_items.type.apply(lambda x: 'etc' if x in drop_list else x)
df_items = df_items.drop(['type'], axis=1)
df_items.groupby('name_2').sum()

df_items['name_2'] = LabelEncoder().fit_transform(df_items['name_2']).astype(np.int8)
df_items['name_3'] = LabelEncoder().fit_transform(df_items['name_3']).astype(np.int16)
df_items.drop(['item_name', 'name_1'], axis=1, inplace=True)

In [9]:
#####Referenced Kaggle Notebooks
mat = []
for block in range(34):
    sales = df_sales_train[df_sales_train.date_block_num == block]
    mat.append(np.array(list(product([block], sales.shop_id.unique(), sales.item_id.unique())), dtype = np.int16))
    
mat = pd.DataFrame(np.vstack(mat), columns = ["date_block_num", "shop_id", "item_id"])
mat["date_block_num"] = mat["date_block_num"].astype(np.int8)
mat["shop_id"] = mat["shop_id"].astype(np.int8)
mat["item_id"] = mat["item_id"].astype(np.int16)
mat.sort_values(["date_block_num", "shop_id", "item_id"], inplace = True)

df_sales_train["revenue"] = df_sales_train["item_cnt_day"] * df_sales_train["item_price"]

group = df_sales_train.groupby(['date_block_num','shop_id','item_id']).agg({'item_cnt_day': ['sum']})
group.columns = ['item_cnt_month']
group.reset_index(inplace=True)
mat = pd.merge(mat, group, on=['date_block_num','shop_id','item_id'], how='left')
mat['item_cnt_month'] = mat['item_cnt_month'].fillna(0).clip(0, 20).astype(np.float32)

mat = pd.concat([mat, df_test], ignore_index=True, sort=False, keys=['date_block_num','shop_id','item_id'])
mat.fillna(0, inplace = True)

mat['ID'] = mat['ID'].astype(np.int32)
mat['date_block_num'] = mat['date_block_num'].astype(np.int8)
mat["shop_id"] -= mat["shop_id"].min()
mat["shop_id"] = mat["shop_id"].astype(np.int8)
mat["item_id"] = mat["item_id"].astype(np.int16)

In [10]:
#####Referenced Kaggle Notebooks
mat = pd.merge(mat, df_shops, on = ["shop_id"], how = "left" )
mat = pd.merge(mat, df_items, on = ["item_id"], how = "left")
mat = pd.merge( mat, df_category, on = ["item_category_id"], how = "left" )
mat["shop_city"] = mat["shop_city"].astype(np.int8)
mat["shop_category"] = mat["shop_category"].astype(np.int8)
df_items["item_category_id"] -= mat["item_category_id"].min()
mat["item_category_id"] -= mat["item_category_id"].min()
mat["item_category_id"] = mat["item_category_id"].astype(np.int8)
mat["type_code"] = mat["type_code"].astype(np.int8)
mat["subtype_code"] = mat["subtype_code"].astype(np.int8)

In [11]:
#Date processing
days = pd.Series([31,28,31,30,31,30,31,31,30,31,30,31])

mat['month'] = mat['date_block_num'] % 12
mat['month'] = mat['month'].astype(np.int8)
mat['days'] =  mat['month'].map(days).astype(np.int8)

mat["item_shop_first_sale"] = mat["date_block_num"] - mat.groupby(["item_id","shop_id"])["date_block_num"].transform('min')
mat['item_shop_first_sale'] = mat['item_shop_first_sale'].astype(np.int8)
mat["item_first_sale"] = mat["date_block_num"] - mat.groupby(["item_id"])["date_block_num"].transform('min')
mat['item_first_sale'] = mat['item_first_sale'].astype(np.int8)

In [12]:
mat.min()

,date_block_num,shop_id,item_id,item_cnt_month,ID,shop_category,shop_city,item_category_id,name_2,name_3,subtype_code,type_code,month,days,item_shop_first_sale,item_first_sale
136152,4,0,30,0.0,0,0,29,40,0,42,4,0,4,31,3,3
136153,4,0,31,0.0,0,0,29,37,0,562,1,0,4,31,3,3
136154,4,0,32,0.0,0,0,29,40,0,42,4,0,4,31,4,4
136155,4,0,33,0.0,0,0,29,37,0,562,1,0,4,31,4,4
136156,4,0,42,0.0,0,0,29,57,0,803,8,0,4,31,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2946684,34,43,18454,0.0,214195,1,19,55,0,42,2,0,10,30,11,11
2946685,34,43,16188,0.0,214196,1,19,64,0,42,42,0,10,30,2,2
2946686,34,43,15757,0.0,214197,1,19,55,0,42,2,0,10,30,34,34
2946687,34,43,19648,0.0,214198,1,19,40,0,1367,4,0,10,30,11,11
2946688,34,43,969,0.0,214199,1,19,37,0,562,1,0,10,30,17,17

In [13]:
mat['name_3'] -= mat['name_3'].min()

In [14]:
mat[mat["date_block_num"] > 3].to_pickle('./data/data_original.pkl')
df_items.to_csv('./data/items_new.csv', index = False)

In [15]:
mat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2946689 entries, 0 to 2946688
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   date_block_num        int8
 1   shop_id               int8
 2   item_id               int16
 3   item_cnt_month        float32
 4   ID                    int32
 5   shop_category         int8
 6   shop_city             int8
 7   item_category_id      int8
 8   name_2                int8
 9   name_3                int16
 10  subtype_code          int8
 11  type_code             int8
 12  month                 int8
 13  days                  int8
 14  item_shop_first_sale  int8
 15  item_first_sale       int8
dtypes: float32(1), int16(2), int32(1), int8(12)
memory usage: 89.9 MB

In [16]:
#####Referenced Kaggle Notebooks
def lag_feature(df, lags, col):
    tmp = df[['date_block_num','shop_id','item_id',col]]
    for i in lags:
        shifted = tmp.copy()
        shifted.columns = ['date_block_num','shop_id','item_id', col+'_lag_'+str(i)]
        shifted['date_block_num'] += i
        df = pd.merge(df, shifted, on=['date_block_num','shop_id','item_id'], how='left')
    return df

mat = lag_feature(mat, [1,2,3], "item_cnt_month")

In [17]:
#####Referenced Kaggle Notebooks
group = mat.groupby( ["date_block_num"] ).agg({"item_cnt_month" : ["mean"]})
group.columns = ["date_avg_item_cnt"]
group.reset_index(inplace = True)

mat = pd.merge(mat, group, on = ["date_block_num"], how = "left")
mat['date_avg_item_cnt'] = mat["date_avg_item_cnt"].astype(np.float16)
mat = lag_feature(mat, [1], "date_avg_item_cnt")
mat.drop(["date_avg_item_cnt"], axis=1, inplace=True)

In [18]:
#####Referenced Kaggle Notebooks
group = mat.groupby(['date_block_num', 'item_id']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_item_avg_item_cnt']
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['date_block_num','item_id'], how='left')
mat['date_item_avg_item_cnt'] = mat['date_item_avg_item_cnt'].astype(np.float16)
mat = lag_feature(mat, [1,2,3], 'date_item_avg_item_cnt')
mat.drop(['date_item_avg_item_cnt'], axis=1, inplace=True)

group = mat.groupby( ["date_block_num","shop_id"] ).agg({"item_cnt_month" : ["mean"]})
group.columns = ["date_shop_avg_item_cnt"]
group.reset_index(inplace = True)

mat = pd.merge(mat, group, on = ["date_block_num","shop_id"], how = "left")
mat['date_shop_avg_item_cnt'] = mat["date_shop_avg_item_cnt"].astype(np.float16)
mat = lag_feature(mat, [1,2,3], "date_shop_avg_item_cnt")
mat.drop( ["date_shop_avg_item_cnt"], axis=1, inplace=True)

group = mat.groupby(['date_block_num', 'item_category_id']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_cat_avg_item_cnt' ]
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['date_block_num','item_category_id'], how='left')
mat['date_cat_avg_item_cnt'] = mat['date_cat_avg_item_cnt'].astype(np.float16)
mat = lag_feature(mat, [1, 2, 3], 'date_cat_avg_item_cnt')
mat.drop(['date_cat_avg_item_cnt'], axis=1, inplace=True)

group = mat.groupby(['date_block_num', 'shop_city']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_city_avg_item_cnt' ]
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['date_block_num', 'shop_city'], how='left')
mat['date_city_avg_item_cnt'] = mat['date_city_avg_item_cnt'].astype(np.float16)
mat = lag_feature(mat, [1, 2, 3], 'date_city_avg_item_cnt')
mat.drop(['date_city_avg_item_cnt'], axis=1, inplace=True)

In [19]:
#####Referenced Kaggle Notebooks
group = mat.groupby(['date_block_num', 'shop_id', 'item_category_id']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_shop_cat_avg_item_cnt']
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['date_block_num', 'shop_id', 'item_category_id'], how='left')
mat['date_shop_cat_avg_item_cnt'] = mat['date_shop_cat_avg_item_cnt'].astype(np.float16)
mat = lag_feature(mat, [1, 2, 3], 'date_shop_cat_avg_item_cnt')
mat.drop(['date_shop_cat_avg_item_cnt'], axis=1, inplace=True)

group = mat.groupby(['date_block_num', 'shop_id', 'item_id']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_shop_item_avg_item_cnt']
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['date_block_num', 'shop_id', 'item_id'], how='left')
mat['date_shop_item_avg_item_cnt'] = mat['date_shop_item_avg_item_cnt'].astype(np.float16)
mat = lag_feature(mat, [1], 'date_shop_item_avg_item_cnt')
mat.drop(['date_shop_item_avg_item_cnt'], axis=1, inplace=True)

group = mat.groupby(['date_block_num', 'shop_id', 'subtype_code']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_shop_subtype_avg_item_cnt']
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['date_block_num', 'shop_id', 'subtype_code'], how='left')
mat['date_shop_subtype_avg_item_cnt'] = mat['date_shop_subtype_avg_item_cnt'].astype(np.float16)
mat = lag_feature(mat, [1], 'date_shop_subtype_avg_item_cnt')
mat.drop(['date_shop_subtype_avg_item_cnt'], axis=1, inplace=True)

group = mat.groupby(['date_block_num', 'item_id', 'shop_city']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_item_city_avg_item_cnt' ]
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['date_block_num', 'item_id', 'shop_city'], how='left')
mat['date_item_city_avg_item_cnt'] = mat['date_item_city_avg_item_cnt'].astype(np.float16)
mat = lag_feature(mat, [1], 'date_item_city_avg_item_cnt')
mat.drop(['date_item_city_avg_item_cnt'], axis=1, inplace=True)

In [20]:
#####Referenced Kaggle Notebooks
group = df_sales_train.groupby(['item_id']).agg({'item_price': ['mean']})
group.columns = ['item_avg_item_price']
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['item_id'], how='left')
mat['item_avg_item_price'] = mat['item_avg_item_price'].astype(np.float16)

group = df_sales_train.groupby(['date_block_num','item_id']).agg({'item_price': ['mean']})
group.columns = ['date_item_avg_item_price']
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['date_block_num','item_id'], how='left')
mat['date_item_avg_item_price'] = mat['date_item_avg_item_price'].astype(np.float16)

lags = [1,2,3]
mat = lag_feature(mat, lags, 'date_item_avg_item_price')

for i in lags:
    mat['delta_price_lag_'+str(i)] = \
        (mat['date_item_avg_item_price_lag_'+str(i)] - mat['item_avg_item_price']) / mat['item_avg_item_price']

def select_trend(row):
    for i in lags:
        if row['delta_price_lag_'+str(i)]:
            return row['delta_price_lag_'+str(i)]
    return 0
    
mat['delta_price_lag'] = mat.apply(select_trend, axis=1)
mat['delta_price_lag'] = mat['delta_price_lag'].astype(np.float16)
mat['delta_price_lag'].fillna(0, inplace=True)

fetures_to_drop = ['item_avg_item_price', 'date_item_avg_item_price']
for i in lags:
    fetures_to_drop += ['date_item_avg_item_price_lag_'+str(i)]
    fetures_to_drop += ['delta_price_lag_'+str(i)]

mat.drop(fetures_to_drop, axis=1, inplace=True)

In [21]:
#####Referenced Kaggle Notebooks
group = df_sales_train.groupby(['date_block_num','shop_id']).agg({'revenue': ['sum']})
group.columns = ['date_shop_revenue']
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['date_block_num','shop_id'], how='left')
mat['date_shop_revenue'] = mat['date_shop_revenue'].astype(np.float32)

group = group.groupby(['shop_id']).agg({'date_shop_revenue': ['mean']})
group.columns = ['shop_avg_revenue']
group.reset_index(inplace=True)

mat = pd.merge(mat, group, on=['shop_id'], how='left')
mat['shop_avg_revenue'] = mat['shop_avg_revenue'].astype(np.float32)

mat['delta_revenue'] = (mat['date_shop_revenue'] - mat['shop_avg_revenue']) / mat['shop_avg_revenue']
mat['delta_revenue'] = mat['delta_revenue'].astype(np.float16)

mat = lag_feature(mat, [1, 2, 3], 'delta_revenue')

mat.drop(['date_shop_revenue','shop_avg_revenue','delta_revenue'], axis=1, inplace=True)

In [22]:
gc.collect()

22

In [23]:
mat = mat[mat["date_block_num"] > 3]

In [24]:
mat.isna().sum()

date_block_num                                0
shop_id                                       0
item_id                                       0
item_cnt_month                                0
ID                                            0
shop_category                                 0
shop_city                                     0
item_category_id                              0
name_2                                        0
name_3                                        0
subtype_code                                  0
type_code                                     0
month                                         0
days                                          0
item_shop_first_sale                          0
item_first_sale                               0
item_cnt_month_lag_1                     378002
item_cnt_month_lag_2                     520599
item_cnt_month_lag_3                     648480
date_avg_item_cnt_lag_1                  378002
date_item_avg_item_cnt_lag_1             378002
date_item_avg_item_cnt_lag_2             520599
date_item_avg_item_cnt_lag_3             648480
date_shop_avg_item_cnt_lag_1             378002
date_shop_avg_item_cnt_lag_2             520599
date_shop_avg_item_cnt_lag_3             648480
date_cat_avg_item_cnt_lag_1              378002
date_cat_avg_item_cnt_lag_2              520599
date_cat_avg_item_cnt_lag_3              648480
date_city_avg_item_cnt_lag_1             378002
date_city_avg_item_cnt_lag_2             520599
date_city_avg_item_cnt_lag_3             648480
date_shop_cat_avg_item_cnt_lag_1         378002
date_shop_cat_avg_item_cnt_lag_2         520599
date_shop_cat_avg_item_cnt_lag_3         648480
date_shop_item_avg_item_cnt_lag_1        378002
date_shop_subtype_avg_item_cnt_lag_1     378002
date_item_city_avg_item_cnt_lag_1        378002
delta_price_lag                               0
delta_revenue_lag_1                     1350073
delta_revenue_lag_2                     1445801
delta_revenue_lag_3                     1527799
dtype: int64

In [25]:
mat.to_pickle('./data/data_na_new.pkl')

In [26]:
for col in mat.columns:
    if mat[col].isnull().any():
        mat[col].fillna(0, inplace=True)

In [27]:
mat.isna().sum()

date_block_num                          0
shop_id                                 0
item_id                                 0
item_cnt_month                          0
ID                                      0
shop_category                           0
shop_city                               0
item_category_id                        0
name_2                                  0
name_3                                  0
subtype_code                            0
type_code                               0
month                                   0
days                                    0
item_shop_first_sale                    0
item_first_sale                         0
item_cnt_month_lag_1                    0
item_cnt_month_lag_2                    0
item_cnt_month_lag_3                    0
date_avg_item_cnt_lag_1                 0
date_item_avg_item_cnt_lag_1            0
date_item_avg_item_cnt_lag_2            0
date_item_avg_item_cnt_lag_3            0
date_shop_avg_item_cnt_lag_1            0
date_shop_avg_item_cnt_lag_2            0
date_shop_avg_item_cnt_lag_3            0
date_cat_avg_item_cnt_lag_1             0
date_cat_avg_item_cnt_lag_2             0
date_cat_avg_item_cnt_lag_3             0
date_city_avg_item_cnt_lag_1            0
date_city_avg_item_cnt_lag_2            0
date_city_avg_item_cnt_lag_3            0
date_shop_cat_avg_item_cnt_lag_1        0
date_shop_cat_avg_item_cnt_lag_2        0
date_shop_cat_avg_item_cnt_lag_3        0
date_shop_item_avg_item_cnt_lag_1       0
date_shop_subtype_avg_item_cnt_lag_1    0
date_item_city_avg_item_cnt_lag_1       0
delta_price_lag                         0
delta_revenue_lag_1                     0
delta_revenue_lag_2                     0
delta_revenue_lag_3                     0
dtype: int64

In [28]:
mat.to_pickle('./data/data_new.pkl')